NEXT_PUBLIC_SIGNAL_ENGINE_URL=http://localhost:8080
NEXT_PUBLIC_ASSR_AGENT_ID=BYU9QBDGsseuxWFE8UJZTyH7zt13dezWno6vtbWtqFq9
NEXT_PUBLIC_ASSR_PROGRAM_ID=2QwzfNdZx8DGbeu6VbSzcn9jaNidstZbC2XRL8Vy9ZrB
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
